@charset "UTF-8";
/*@import ulr ('https://fonts.googleapis.com/css?family=Montserrat');*/
@keyframes bounceIn {
  0% {
    transform: translateY(-30%);
    opacity: 0.1; }
  100% {
    transform: translateY(0%);
    opacity: 1.0; } }
@keyframes fade {
  0% {
    opacity: 0.1; }
  20% {
    opacity: 0.8; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.0; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0.1; }
  20% {
    opacity: 0.8; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0.0; } }
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8.0s;
  animation-name: fade;
  animation-duration: 8.0s; }

body {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  position: relative;
  background: #A2DCE1; }

.navbar {
  padding-top: 31px;
  width: 100%; }

.navbar-brand {
  position: relative;
  font-weight: bold;
  border: 2px solid white;
  font-size: 17px;
  width: 190px;
  height: 40px;
  text-align: center;
  color: white;
  margin: 0;
  z-index: 2; }
  .navbar-brand:hover {
    color: white; }

.nav-link {
  color: white; }
  .nav-link:hover {
    color: #EE834E; }
  .nav-link:active {
    color: #EE834E; }

.phone_desktop, .phone_mobile {
  color: white; }

.phone_desktop img, .phone_mobile img {
  width: 20px;
  height: 20px;
  padding: 2px; }

.dropdown-menu {
  border-style: none;
  background: transparent;
  animation: bounceIn 1.0s; }
  .dropdown-menu .dropdown-item {
    color: white; }
    .dropdown-menu .dropdown-item:hover {
      color: #EE834E;
      background: transparent; }
  .dropdown-menu:active {
    color: #EE834E; }

.searchGroup {
  border-bottom: 2px solid;
  color: white; }
  .searchGroup .search {
    text-align: center;
    font-size: 13px;
    border-style: none;
    background: transparent;
    width: 75%;
    padding: 15px; }
    .searchGroup .search:optional {
      color: white;
      outline: none; }
    .searchGroup .search::-webkit-input-placeholder, .searchGroup .search::-webkit-input-text {
      color: white;
      font-size: 13px; }
    .searchGroup .search::-moz-input-placeholder, .searchGroup .search::-moz-input-text {
      color: white;
      font-size: 13px; }
    .searchGroup .search:-ms-input-placeholder, .searchGroup .search:-ms-input-text {
      color: white;
      font-size: 13px; }

.section {
  position: relative;
  max-width: 992px;
  margin: auto;
  color: white;
  background-color: white; }

.cell button {
  font-size: 13px;
  color: white;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  background-color: #50B4C4; }
  .cell button:active {
    box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16); }
  .cell button:focus {
    /* zmizení definovaného modrého ohraničení*/
    outline: none; }

footer {
  background: linear-gradient(243deg, #A2DCE1 0%, #50B4C4 100%);
  position: relative;
  max-width: 992px;
  margin: auto;
  padding-top: 79px;
  bottom: 0; }
  footer .row {
    padding: 0;
    margin-bottom: 81px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; }

.footer-brand {
  position: relative;
  font-weight: bold;
  border: 2px solid;
  color: white;
  font-size: 17px;
  width: 190px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  margin-top: 19px; }
  .footer-brand a {
    text-decoration: none;
    color: white; }

.footer_nav ul a {
  width: 110px;
  display: block;
  text-decoration-style: none;
  color: white;
  font-size: 13px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px; }
  .footer_nav ul a:hover {
    text-decoration: none;
    color: #EE834E; }

.socialGroup {
  margin-top: 5px;
  text-align: center; }
  .socialGroup .socialHeader {
    font-size: 17px;
    color: white; }
  .socialGroup .social img {
    width: 40px;
    height: 40px; }
    .socialGroup .social img.middle {
      margin-left: 43px;
      margin-right: 43px; }

.footer-copyright {
  position: relative;
  margin-left: 9.5%;
  bottom: 19px;
  font-size: 11px;
  color: white; }

@media (max-width: 991px) {
  .container-fluid {
    background: linear-gradient(243deg, #A2DCE1 0%, #50B4C4 100%);
    width: 100%;
    position: relative;
    height: auto;
    min-height: 550px;
    padding: 0;
    margin: auto; }
    .container-fluid::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("face.png");
      background-repeat: no-repeat;
      background-position: bottom right;
      opacity: 0.11; }

  h2 {
    font-size: 10px;
    text-align: left; }

  .navbar {
    position: absolute;
    z-index: 3;
    padding-left: 26px;
    padding-right: 28px; }

  .logo_phone {
    position: relative; }
    .logo_phone .phone_desktop {
      display: none; }

  /* tlačíko na rozbalovací menu*/
  .navbar-toggler {
    position: relative;
    z-index: 3; }
    .navbar-toggler:optional {
      outline: none; }
    .navbar-toggler .icon-bar {
      width: 35px;
      height: 4px;
      background-color: white;
      display: block;
      transition: all 0.8s;
      margin-top: 8px;
      border-radius: 30px; }
    .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      width: 43px; }
    .navbar-toggler .middle-bar {
      opacity: 0; }
    .navbar-toggler .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      width: 43px; }

  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    width: 35px; }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
    width: 35px; }

  .menu {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(243deg, #A2DCE1 0%, #50B4C4 100%); }
    .menu .phone_mobile {
      margin-top: 47px;
      margin-bottom: 38px;
      font-size: 23px;
      height: 18px; }

  .navbar-nav {
    margin-bottom: 38px; }
    .navbar-nav .nav-item {
      font-size: 23px;
      padding: 3px; }
    .navbar-nav .arrow {
      display: inline-block;
      height: 14px;
      width: 14px;
      transform: rotate(45deg);
      transform-origin: center center;
      border-right: 2px solid;
      border-bottom: 2px solid;
      margin-left: 6px;
      margin-bottom: 4px;
      transition: all 0.8s; }
    .navbar-nav .dropdown.show .arrow {
      transform: rotate(225deg);
      transform-origin: center center;
      transition-delay: 0.0s;
      margin-bottom: -5px; }
    .navbar-nav .dropdown-menu {
      text-align: center; }
      .navbar-nav .dropdown-menu .show {
        margin: 0;
        padding: 0; }
      .navbar-nav .dropdown-menu .img_dropdown {
        display: none; }
      .navbar-nav .dropdown-menu .dropdown-item {
        font-size: 17px; }

  .searchGroup {
    margin: auto;
    width: 95%;
    border-bottom: 2px solid white; }

  .slideshow-container {
    width: 267px;
    height: 365px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 145px; }

  .mySlides {
    width: 100%;
    height: 100%;
    margin: auto; }

  .mySlides.a {
    color: #B16C69; }
    .mySlides.a img {
      position: absolute;
      width: 80%;
      bottom: 55px;
      left: 0; }
    .mySlides.a h3 {
      position: relative;
      font-size: 34px;
      width: 100%;
      text-align: right; }
    .mySlides.a button {
      position: absolute;
      font-size: 13px;
      bottom: 75px;
      right: 0px;
      color: white;
      border: solid white;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      background-color: #B16C69; }
      .mySlides.a button:active {
        box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16); }
      .mySlides.a button:optional {
        outline: none; }

  .mySlides.b {
    color: white;
    /*POHYBUJÍCÍ SE ŠIPKY*/ }
    .mySlides.b img {
      position: absolute;
      width: 100%;
      bottom: 55px; }
    .mySlides.b h3 {
      font-size: 34px;
      text-align: center; }
    .mySlides.b .chevron_container {
      position: absolute;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      transform: rotate(0deg); }
      .mySlides.b .chevron_container .chevron {
        position: absolute;
        width: 120px;
        height: 4px;
        opacity: 0;
        transform: scale(0.3);
        animation: move-chevron 3s ease-out infinite; }
        .mySlides.b .chevron_container .chevron:first-child {
          animation: move-chevron 3s ease-out 1s infinite; }
        .mySlides.b .chevron_container .chevron:nth-child(2) {
          animation: move-chevron 3s ease-out 2s infinite; }
        .mySlides.b .chevron_container .chevron:before, .mySlides.b .chevron_container .chevron:after {
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;
          background: #EE834E; }
        .mySlides.b .chevron_container .chevron:before {
          left: 0;
          transform: skewY(30deg); }
        .mySlides.b .chevron_container .chevron:after {
          right: 0;
          width: 50%;
          transform: skewY(-30deg); }
  @keyframes move-chevron {
    25% {
      opacity: 1; }
    33.3% {
      opacity: 1;
      transform: translateY(200); }
    66.6% {
      opacity: 1;
      transform: translateY(50); }
    100% {
      opacity: 0;
      transform: translateY(1000%) scale(0.5); } }
  .mySlides.c {
    text-align: center;
    color: white; }
    .mySlides.c h3 {
      text-align: center;
      font-size: 34px;
      margin-left: 10px;
      margin-right: 10px; }
    .mySlides.c p {
      font-size: 15px;
      margin: 20 5 31 5; }
    .mySlides.c button {
      position: relative;
      font-size: 13px;
      color: white;
      border: none;
      border-radius: 25px;
      height: 50px;
      width: 180px;
      background-color: #EE834E;
      margin-bottom: 55px; }
      .mySlides.c button:active {
        box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16);
        outline: none; }
      .mySlides.c button:optional {
        outline: none; }

  .mySlides.d {
    text-align: center;
    color: white; }
    .mySlides.d h3 {
      position: relative;
      font-size: 34px;
      text-align: center; }
    .mySlides.d img {
      position: relative;
      width: 100%;
      margin-bottom: 55px; }

  .dots {
    position: absolute;
    display: flex;
    left: 38%;
    top: 310px; }
    .dots .dot {
      height: 12px;
      width: 12px;
      margin: 4px 2px;
      background-color: transparent;
      border: solid 2px white;
      border-radius: 50%; }
      .dots .dot.active {
        background-color: transparent;
        border: solid 2px #EE834E;
        transition: 0.6s ease-in; }

  .cell {
    position: relative;
    width: 267px;
    height: 380px;
    margin: auto;
    padding: 43px 15px 26px 25px;
    box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16); }
    .cell.a {
      margin-top: -40px;
      margin-bottom: 20px;
      background-image: url(cactus1.png);
      background-size: 584px 517px;
      background-repeat: no-repeat;
      background-attachment: local;
      background-position: top -55px right -193px; }
      .cell.a p {
        font-size: 13px;
        line-height: 22px;
        margin-top: 29px;
        margin-bottom: 20px;
        margin-right: 18px; }
    .cell.b {
      background-image: url("cactus2.png");
      background-size: 584px 517px;
      background-repeat: no-repeat;
      background-attachment: local;
      background-position: bottom -82px left -193px;
      margin-bottom: 80px; }
      .cell.b p {
        font-size: 13px;
        line-height: 22px;
        margin-top: 29px;
        margin-bottom: 7px;
        margin-right: 18px; }

  footer {
    padding-top: 40px; }
    footer .footer-brand {
      margin: auto; }
    footer .footer_nav ul {
      margin-top: 40px;
      margin-bottom: 61px; }
    footer .socialHeader {
      margin-bottom: 23px; } }
@media (min-width: 992px) {
  .container-fluid {
    background: linear-gradient(243deg, #A2DCE1 0%, #50B4C4 100%);
    max-width: 992px;
    position: relative;
    height: auto;
    min-height: 624px;
    padding: 0;
    margin: auto; }
    .container-fluid::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("face.png");
      width: 100%;
      height: 100%;
      opacity: 0.11; }

  .navbar {
    position: relative;
    padding-left: 29px;
    padding-right: 42px; }

  .logo_phone {
    position: relative; }
    .logo_phone .phone_desktop {
      font-size: 17px;
      margin-top: 10px;
      margin-left: 17px; }

  .menu {
    position: relative;
    margin-bottom: auto; }
    .menu .phone_mobile {
      display: none; }
    .menu .nav-item {
      top: 0px;
      font-size: 13px;
      position: relative; }
      .menu .nav-item.nav-link {
        padding-left: 13px;
        padding-top: 0px;
        padding-right: 13px; }
    .menu .dropdown:hover > .dropdown-menu {
      display: block; }
    .menu .dropdown > .dropdown-toggle:active {
      /*Without this, clicking will make it sticky*/
      pointer-events: none;
      animation-delay: 2s; }
    .menu .dropdown-menu {
      position: relative; }
      .menu .dropdown-menu .img_dropdown {
        position: relative;
        top: 0px;
        right: 37px;
        width: 220px;
        height: 147px; }
      .menu .dropdown-menu .dropdown-itemS {
        position: absolute;
        top: 45px;
        right: 55px; }
        .menu .dropdown-menu .dropdown-itemS .dropdown-item {
          width: 184px;
          font-size: 13px;
          padding-bottom: 9px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.28);
          color: white; }
          .menu .dropdown-menu .dropdown-itemS .dropdown-item:hover {
            text-decoration: none;
            color: #EE834E; }

  .searchGroup {
    border-bottom: 2px solid rgba(255, 255, 255, 0.62);
    color: white;
    width: 200px;
    margin-left: 5px; }
    .searchGroup .lupa {
      position: absolute;
      margin-left: 40px; }

  .slideshow-container {
    width: auto;
    height: 300px;
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 95px; }

  .mySlides {
    display: none; }
    .mySlides.a {
      width: 100%;
      height: 100%;
      margin: auto;
      color: #B16C69; }
      .mySlides.a img {
        position: absolute;
        height: 350px;
        left: 50px; }
      .mySlides.a h3 {
        position: relative;
        font-size: 34px;
        padding-top: 93px;
        width: 400px;
        text-align: right;
        margin-left: auto;
        margin-right: 100px; }
      .mySlides.a button {
        position: relative;
        font-size: 13px;
        margin-left: 660px;
        margin-top: 12px;
        color: white;
        border: solid white;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        background-color: #B16C69; }
        .mySlides.a button:active {
          box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16); }
        .mySlides.a button:optional {
          outline: none; }
    .mySlides.b {
      width: 100%;
      height: 100%;
      margin: auto;
      color: white; }
      .mySlides.b img {
        position: absolute;
        height: 100%;
        width: auto;
        left: 50px; }
      .mySlides.b h3 {
        font-size: 34px;
        padding-top: 133px;
        text-align: right;
        margin-right: 150px; }
      .mySlides.b .chevron_container {
        position: absolute;
        margin-left: 450px;
        padding-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        transform: rotate(90deg); }
        .mySlides.b .chevron_container .chevron {
          position: absolute;
          width: 120px;
          height: 4px;
          opacity: 0;
          transform: scale(0.3);
          animation: move-chevron 3s ease-out infinite; }
          .mySlides.b .chevron_container .chevron:first-child {
            animation: move-chevron 3s ease-out 1s infinite; }
          .mySlides.b .chevron_container .chevron:nth-child(2) {
            animation: move-chevron 3s ease-out 2s infinite; }
          .mySlides.b .chevron_container .chevron:before, .mySlides.b .chevron_container .chevron:after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
            background: #EE834E; }
          .mySlides.b .chevron_container .chevron:before {
            left: 0;
            transform: skewY(30deg); }
          .mySlides.b .chevron_container .chevron:after {
            right: 0;
            width: 50%;
            transform: skewY(-30deg); }
  @keyframes move-chevron {
    25% {
      opacity: 1; }
    33.3% {
      opacity: 1;
      transform: translateY(200); }
    66.6% {
      opacity: 1;
      transform: translateY(50); }
    100% {
      opacity: 0;
      transform: translateY(1000%) scale(0.5); } }
    .mySlides.c {
      text-align: center;
      color: white;
      width: 100%;
      height: 100%;
      margin: auto;
      padding-top: 30px; }
      .mySlides.c h3 {
        font-size: 34px;
        margin: 16px; }
      .mySlides.c p {
        font-size: 15px;
        margin: auto; }
      .mySlides.c button {
        position: relative;
        font-size: 13px;
        color: white;
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 180px;
        background-color: #EE834E;
        margin-top: 46px; }
        .mySlides.c button:active {
          box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16);
          outline: none; }
        .mySlides.c button:optional {
          outline: none; }
    .mySlides.d {
      text-align: center;
      color: white;
      width: 100%;
      height: 100%; }
      .mySlides.d h3 {
        position: relative;
        padding-top: 186px; }
      .mySlides.d img {
        position: absolute;
        right: 240px;
        bottom: 10px;
        height: 270px;
        z-index: -1; }

  .dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35%;
    right: 0px; }
    .dots .dot {
      height: 12px;
      width: 12px;
      margin: 4px 2px;
      background-color: transparent;
      border: solid 2px white;
      border-radius: 50%; }
      .dots .dot.active {
        background-color: transparent;
        border: solid 2px #EE834E;
        transition: 0.6s ease-in; }

  .cell {
    margin-top: -40px;
    margin-bottom: 100px;
    width: 392px;
    height: 327px;
    box-shadow: 0 15px 27px rgba(41, 41, 41, 0.16); }
    .cell.a {
      padding: 42px 10px 0px 25px;
      margin-left: auto;
      margin-right: 5px;
      background-image: url(cactus1.png);
      background-size: 584px 517px;
      background-repeat: no-repeat;
      background-attachment: local;
      background-position: top -55px right -178px; }
      .cell.a p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 32px;
        margin-bottom: 0; }
      .cell.a button {
        margin-top: 38px; }
    .cell.b {
      margin-left: 5px;
      padding: 42px 10px 0px 25px;
      background-image: url("cactus2.png");
      background-size: 584px 517px;
      background-repeat: no-repeat;
      background-attachment: local;
      background-position: bottom -135px left -177px; }
      .cell.b p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 26px;
        margin-bottom: 0; }
      .cell.b button {
        margin-left: 188px;
        margin-top: 25px; }

  footer .footer_nav ul {
    margin: auto; }
  footer .footer-brand {
    margin-left: auto; }
  footer .socialHeader {
    margin-bottom: 25px; } }

/*# sourceMappingURL=style.css.map */
